.App {
  text-align: center;
}
.page {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.page-enter {
  transform: translateX(100%);
}

.page-enter-active {
  transform: translateX(0%);
}

.page-exit {
  transform: translateX(0%);
}

.page-exit-active {
  transform: translateX(-100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: "cookie";         
  src: url("./fonts/CookieRun.woff");
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
