h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  /* margin: 0;
  padding: 0; */
  list-style-type: disc;
}

li {
  margin: 0;
  padding: 0;
}
ol{
  margin: 0;
  /* padding: 0; */
}
h1 + ul, h2 + ul, h3 + ul, h4 + ul, h5 + ul, h6 + ul {
  margin-top: 0;
}

ul > li {
  margin-top: 0;
}
body {
  overflow-y: auto;
  overflow-x: hidden;
  font-family: "cookie";
  text-align: center;
  background-image: url('../BackGround4.png');
  background-color: #2a2a2a;
  background-repeat: no-repeat;
  /* justify-items: center; */
  /* background-size: cover;
  background-position: center; */
  background-size: 200vh;
}

.logo1 {
  width: 100%;
  margin-top: 20%;
}

.chat-container {
  font-family: 'cookie';
  max-width: 85%;
  margin: 1% auto;
  border: none;
  border-radius: 35px;
  background-color: rgba(250, 250, 250, 0.8);
  display: flex;
  flex-direction: row;
  height: 85vh;
  color: #2a2a2a;
  position: relative;
  box-shadow: 0 4px 80px rgba(11, 11, 11, 1); 
  scrollbar-width: thin;
  scrollbar-color: #56764B #e9EFDF;
}
.dark-mode .chat-container{
  scrollbar-color: #2b2b2b #3a3a3a;
  transition: filter 2s;
}

.light-mode .left-half {
  background-color: #56764B;
  transition: filter 2s;
}

.dark-mode .left-half {
  background-color: #2a2a2a;
  transition: filter 2s;
}

.light-mode .right-half {
  background-color: #e9EFDF;
  transition: filter 2s;
}

.dark-mode .right-half {
  background-color: #3a3a3a;
  transition: filter 2s;
}

.left-half {
  width: 15vh;
  left: 0;
  height: 85vh;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  align-items: flex-start;
  text-align: center;
  flex-direction: column;
}

.right-half {
  flex-grow: 1;
  width: 100%;
  /* height: 85vh; */
  display: flex;
  /* align-items: center; */
  align-items: flex-start;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  flex-direction: column;
  background-color: #2a2a2a;
}

.chat {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  height: 100%;
}

.right-half input[type="text"] {
  width: calc(100% - 40vh);
  padding: 10px;
  border: 1px solid white;
  border-radius: 15px;
  box-sizing: border-box;
  font-family: "cookie", cursive;
  bottom: 0;
  position: absolute;
  text-align: left;
  margin-bottom: 30px;
  background-color: white;
  left: 14%;
  /* margin-right: 2%; */
  display: flex;
  font-size: 16px;
}

.light-mode .right-half input[type="text"]:focus {
  border-color: white;
  box-shadow: 0 0 30px rgba(222, 255, 238, 0.897);
  outline: none;
}

.dark-mode .right-half input[type="text"]{
  border: 1px solid #9b9b9b;
  background-color: #8b8b8b;
}

.dark-mode .right-half input[type="text"]:focus {
  border-color: #8b8b8b;
  box-shadow: 0 0 30px rgba(173, 172, 172, 0.782);
  outline: none;
}

.right-half img {
  right: 0;
  margin-right: 80px;
  bottom: 30px;
  position: absolute;
  width: 43px;
}

.right-half img:hover {
  border-radius: 100px;
  filter: opacity(80%);
}

.icon_mode {
  position: relative;
  margin-top: 10px;
}

.light-mode .icon_chat {
  margin-top: 30px;
  filter: brightness(0) saturate(100%) invert(12%) sepia(74%) saturate(1250%) hue-rotate(64deg) brightness(80%) contrast(103%);
  transition: filter 1.5s ease, opacity 1.5s ease;
}
.dark-mode .icon_chat {
  margin-top: 30px;
  filter: brightness(0) saturate(100%) invert(12%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(17%) contrast(20%);
  transition: filter 1.5s ease, opacity 1.5s ease;
}
.light-mode .icon_chat:hover {
  filter:none;
}

.dark-mode .icon_chat:hover {
  filter: none;
}

.icon_archive {
  transition: filter 1.5s ease, opacity 1.5s ease;
  /* margin-top: 30px; */
}

.light-mode .icon_archive:hover {
  filter: brightness(0) saturate(100%) invert(12%) sepia(74%) saturate(1250%) hue-rotate(64deg) brightness(80%) contrast(103%);
}

.dark-mode .icon_archive:hover {
  filter: brightness(0) saturate(100%) invert(12%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(17%) contrast(20%);
}
/* .icon_settings,
.icon_exit {
  margin-top: 70%;
  margin-bottom: 10px;
} */

.icon_exit {
  position: absolute;
  bottom: 3%;
  left: 2.6%;
  display: inline-block;
  transition: filter 1.5s ease, opacity 1.5s ease;
}
.light-mode .icon_exit:hover {
  filter: brightness(0) saturate(100%) invert(12%) sepia(74%) saturate(1250%) hue-rotate(64deg) brightness(80%) contrast(103%);
}

.dark-mode .icon_exit:hover {
  filter: brightness(0) saturate(100%) invert(12%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(17%) contrast(20%);
}

.chating-container {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-right: 10px;
  margin-left: 15px;
  padding: 30px 30px 0 30px;
}

.light-mode .input-container {
  background-color: #e9EFDF;
  transition: filter 2s;
}

.dark-mode .input-container {
  background-color: #3a3a3a;
  transition: filter 2s;
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 1%;
  padding: 0px 20px;
  flex-shrink: 0;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 25px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  width: 90%;
  margin-bottom: 10%;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.light-mode .message.user {
  background-color: #56764B;
  transition: filter 2s;
}

.dark-mode .message.user {
  background-color: #2a2a2a;
  color:rgb(237, 237, 237);
  transition: filter 2s;
}

.message.user {
  position: relative;
  margin-left: 60%;
  right: 3%;
  text-align: left;
  padding: 13px;
  background-color: #56764B;
  border-radius: 20px;
  font-size: 18px;
  width: 35%;
  max-width: 40%;
  color: white;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.light-mode .message.ai {
  background-color: #e9EFDF;
  transition: filter 2s;
}

.dark-mode .message.ai {
  background-color: #3a3a3a;
  color:rgb(219, 219, 219);
  transition: filter 2s;
}

.message.ai {
  margin-top: 5%;
  margin-bottom: 10px;
  padding: 13px;
  border-radius: 20px;
  font-size: 20px;
  width: 90%;
  max-width: none;
  color: black;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.dark-mode .spinner {
  border-left-color: aliceblue;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1); 
  border-left-color: #22a6b3; 
  border-radius: 50%; 
  width: 24px; 
  height: 24px; 
  animation: spin 1s linear infinite; 
  display: inline-block; 
  margin-top: 5px; 
  background: transparent;
  box-shadow: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: aliceblue;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  top:2px;
  border: 2px solid #2b2b2b;
  background-color: aliceblue;
  transition: 0.4s;
  border-radius: 50%;
  /* background-image: url('../light.svg');
  background-size: 22px 22px;
  background-position:center;
  background-repeat: no-repeat; */
}

input:checked + .slider {
  background-color: #8b8b8b;
}

input:checked + .slider:before {
  transform: translateX(42px);
  background-color: #2B2B2B;
  transition: 0.4s;
  border-radius: 50%;
  /* background-image: url('../dark.png');
  background-size: 22px 22px;
  background-position:center;
  background-repeat: no-repeat; */
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
